<!DOCTYPE html>
<html>
  <head>
    <title>
      {% block title %}{% endblock %}
    </title>
    <link rel="stylesheet"
          type="text/css"
          href="static/WebCheApp/css/bootstrap.min.css" />
    <link rel="stylesheet"
          type="text/css"
          href="static/WebCheApp/css/owl.css" />
    <style>
      .navbar-brand {
        font-size: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      body{
        background:#141414;
      }
    </style>
  </head>
  <body>
    <!--Menu en la parte izq-->
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <!--Etiqueta alineada en el medio-->
        <a class="navbar-brand" href="{% url 'home' %}">WebChe</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start text-bg-dark"
             tabindex="-1"
             id="offcanvasNavbar"
             aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            {% if user.is_authenticated %}
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">
                Hello, {{ user.username }}
              </h5>
            {% else %}
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Hola,bienvenido a WebChe</h5>
            {% endif %}
            <button type="button"
                    class="btn-close btn-close-white"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              {% if not user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'LogIn' %}">Sign in</a>
                </li>
              {% endif %}
              {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'LogOut' %}">Log out</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!--Scripts-->
    <script src="static/WebCheApp/js/jquery.min.js"></script> 
    <script src="static/WebCheApp/js/bootstrap.min.js"></script>
    <script src="static/WebCheApp/js/owl-carousel.js"></script>
    <!--para heredar-->
    {% block content %}
    {% endblock content %}
  </body>
</html>
