{% extends "WebCheApp/base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
    <style>
        
    .container {
        flex-wrap: wrap;
        margin-top: 70px;
    }
    .form-group {
        display: block; 
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .error-message {
        margin-top: 40px;
    }
    
    h1{
        color:#fff;
    }
    .form-group{
        color:#fff;
    }
    .square{
        border-radius: 15px;
        background-color: #242431;
        overflow: hidden;
        margin-top: 90px;
        opacity: 1;
        width: 450px;
        height: 450px;

    }
    .center-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; 
        margin-top:-15px;
    }
    </style>

<div class="center-container">
<div class="square">
    <div class="container" style="text-align: center;">
        <form action="" method="post">
            <h1 style="font-weight: bold;">Join the Club</h1>
            {% csrf_token %}
            <div class="form-group" style="font-weight: bold;">Username: {{ form.username }}</div>
            <div class="form-group" style="margin-left: 5px;font-weight: bold;">Password: {{ form.password1 }}</div>
            <div class="form-group" style="margin-left: -30px;font-weight: bold;">Verf. Password:{{ form.password2 }}</div>
            <button type="submit" class="btn btn-outline-primary" style="font-weight: bold;color:#fff">Sign up</button>
            {% if form.errors %}
                <div class="error-message">
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>Errors related to:</strong> {{ form.errors }}
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
</div>
</div>
{% endblock %}